## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
# Your code here
sample_list_1 = list(random.sample(range(100),80))
sample_list_1

[56,
 67,
 71,
 83,
 7,
 59,
 39,
 51,
 99,
 3,
 13,
 57,
 35,
 42,
 43,
 38,
 63,
 6,
 44,
 48,
 37,
 74,
 27,
 46,
 76,
 5,
 85,
 40,
 82,
 80,
 9,
 4,
 66,
 86,
 0,
 77,
 84,
 58,
 8,
 90,
 29,
 2,
 34,
 33,
 52,
 15,
 89,
 92,
 79,
 73,
 21,
 69,
 95,
 28,
 53,
 49,
 65,
 45,
 75,
 68,
 64,
 47,
 72,
 19,
 17,
 94,
 96,
 10,
 31,
 23,
 97,
 14,
 81,
 50,
 62,
 93,
 60,
 78,
 22,
 41]

In [11]:
# Count the number of times a number appears in sample_list

for number in sample_list_1:
    count = sample_list_1.count(number)
    print(number, count)

56 1
67 1
71 1
83 1
7 1
59 1
39 1
51 1
99 1
3 1
13 1
57 1
35 1
42 1
43 1
38 1
63 1
6 1
44 1
48 1
37 1
74 1
27 1
46 1
76 1
5 1
85 1
40 1
82 1
80 1
9 1
4 1
66 1
86 1
0 1
77 1
84 1
58 1
8 1
90 1
29 1
2 1
34 1
33 1
52 1
15 1
89 1
92 1
79 1
73 1
21 1
69 1
95 1
28 1
53 1
49 1
65 1
45 1
75 1
68 1
64 1
47 1
72 1
19 1
17 1
94 1
96 1
10 1
31 1
23 1
97 1
14 1
81 1
50 1
62 1
93 1
60 1
78 1
22 1
41 1

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [70]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [32]:
# Your code here
sample_list_2 = []

for i in range(80): 
    sample_list_2.append(random.randint(0,100))
    
sample_list_2

[5,
 71,
 62,
 77,
 86,
 37,
 21,
 0,
 23,
 76,
 28,
 9,
 30,
 51,
 9,
 98,
 84,
 44,
 18,
 98,
 100,
 17,
 42,
 98,
 62,
 7,
 99,
 40,
 96,
 56,
 87,
 4,
 60,
 39,
 6,
 51,
 3,
 46,
 3,
 62,
 40,
 0,
 27,
 9,
 10,
 28,
 73,
 92,
 50,
 15,
 51,
 21,
 4,
 62,
 81,
 62,
 45,
 37,
 13,
 13,
 72,
 76,
 73,
 41,
 99,
 1,
 21,
 53,
 13,
 83,
 82,
 57,
 12,
 65,
 48,
 40,
 83,
 89,
 33,
 97]

In [34]:
for number in sample_list_2:
    count = sample_list_2.count(number)
    print(number, count)
print(len(sample_list_2))

5 1
71 1
62 5
77 1
86 1
37 2
21 3
0 2
23 1
76 2
28 2
9 3
30 1
51 3
9 3
98 3
84 1
44 1
18 1
98 3
100 1
17 1
42 1
98 3
62 5
7 1
99 2
40 3
96 1
56 1
87 1
4 2
60 1
39 1
6 1
51 3
3 2
46 1
3 2
62 5
40 3
0 2
27 1
9 3
10 1
28 2
73 2
92 1
50 1
15 1
51 3
21 3
4 2
62 5
81 1
62 5
45 1
37 2
13 3
13 3
72 1
76 2
73 2
41 1
99 2
1 1
21 3
53 1
13 3
83 2
82 1
57 1
12 1
65 1
48 1
40 3
83 2
89 1
33 1
97 1
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [35]:
# Your code here
set2 = set(sample_list_2)
print(len(sample_list_2))
print(len(set2))

80
55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [36]:
# Your code here
set3 = set1.difference(set2)
set3

{2,
 8,
 14,
 19,
 22,
 29,
 31,
 34,
 35,
 38,
 43,
 47,
 49,
 52,
 58,
 59,
 63,
 64,
 66,
 67,
 68,
 69,
 74,
 75,
 78,
 79,
 80,
 85,
 90,
 93,
 94,
 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [37]:
# Your code here
set4 = set2.difference(set1)
set4

{1, 12, 18, 30, 87, 98, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [38]:
# Your code here
set5 = set1.intersection(set2)
set5

{0,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 13,
 15,
 17,
 21,
 23,
 27,
 28,
 33,
 37,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 48,
 50,
 51,
 53,
 56,
 57,
 60,
 62,
 65,
 71,
 72,
 73,
 76,
 77,
 81,
 82,
 83,
 84,
 86,
 89,
 92,
 96,
 97,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [42]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
55
32
7
48

In [44]:
len(set4) < len(set3) < len(set5) < len(set2) < len(set1)

True

#### Create an empty set called `set6`.

In [63]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [49]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [65]:
# Your code here
set6.update(set5)
set6.update(set3)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 17, 19, 21, 22, 23, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 89, 90, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [71]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [73]:
# Your code here
set2.issubset(set1)

False

In [74]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [75]:
# Your code here
print(set3.union(set4,set5))
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 21, 22, 23, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 21, 22, 23, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [76]:
set3.union(set4,set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [78]:
# Your code here
set1.pop()
set1

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 13,
 14,
 15,
 17,
 19,
 21,
 22,
 23,
 27,
 28,
 29,
 31,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [79]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)
        
set1

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 13,
 14,
 15,
 17,
 22,
 23,
 27,
 28,
 33,
 34,
 35,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 90,
 92,
 93,
 94,
 95,
 96,
 97}