## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(0,101), 80)
print(sample_list_1)
len(sample_list_1)

[16, 27, 64, 32, 95, 9, 83, 0, 92, 29, 14, 54, 45, 43, 47, 30, 87, 78, 50, 69, 61, 1, 51, 66, 99, 100, 60, 8, 94, 5, 57, 37, 98, 75, 90, 96, 63, 40, 21, 77, 97, 42, 19, 18, 33, 55, 62, 74, 20, 38, 15, 26, 65, 11, 49, 24, 89, 84, 53, 71, 28, 4, 3, 25, 41, 17, 68, 44, 72, 59, 35, 46, 48, 80, 31, 23, 81, 82, 10, 36]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 =set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 =[]
for _ in range(80):
    # randint takes from 0 to 100
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)
print(len(sample_list_2))
sample_list2_copy = [random.randint(0,100) for _ in range(80)]
print(sample_list2_copy)
print(len(sample_list2_copy))

[97, 14, 28, 64, 60, 68, 60, 15, 25, 8, 76, 10, 31, 82, 11, 66, 31, 82, 31, 62, 73, 5, 83, 52, 41, 45, 0, 35, 2, 72, 79, 4, 44, 20, 46, 96, 41, 100, 49, 64, 46, 31, 70, 46, 95, 40, 37, 13, 96, 88, 85, 83, 30, 86, 0, 77, 82, 39, 36, 27, 31, 69, 91, 90, 96, 61, 71, 44, 40, 16, 0, 40, 89, 77, 84, 87, 73, 5, 29, 91]
80
[7, 39, 79, 83, 91, 78, 66, 7, 53, 3, 86, 90, 2, 38, 97, 70, 100, 18, 70, 25, 13, 84, 25, 73, 17, 9, 54, 37, 79, 95, 47, 14, 23, 36, 98, 29, 9, 26, 20, 70, 87, 99, 37, 99, 16, 76, 85, 75, 38, 32, 44, 14, 96, 53, 77, 90, 34, 62, 92, 73, 32, 68, 56, 51, 64, 24, 18, 57, 16, 1, 54, 25, 10, 88, 61, 25, 71, 71, 26, 65]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2 = set(sample_list_2)
len(set2)

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3= set1.difference(set2)
print(set3)

{1, 3, 9, 17, 18, 19, 21, 23, 24, 26, 32, 33, 38, 42, 43, 47, 48, 50, 51, 53, 54, 55, 57, 59, 63, 65, 74, 75, 78, 80, 81, 92, 94, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{2, 70, 39, 73, 76, 13, 79, 52, 85, 86, 88, 91}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 4, 5, 8, 10, 11, 14, 15, 16, 20, 25, 27, 28, 29, 30, 31, 35, 36, 37, 40, 41, 44, 45, 46, 49, 60, 61, 62, 64, 66, 68, 69, 71, 72, 77, 82, 83, 84, 87, 89, 90, 95, 96, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(set1==set3.union(set5))
print(set4==set2.difference(set5))
print(set5==set4.union(set3))

80
57
35
12
45
True
True
False

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 3, 4, 5, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 74, 75, 77, 78, 80, 81, 82, 83, 84, 87, 89, 90, 92, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
print(set1 ==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
aggregate_1=set3.union(set4, set5)
aggregate_2=set1.union(set2)
print(aggregate_1 == aggregate_2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
set1= list (set1)
removed = set1.pop(0)
set1 = set(set1)
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = [ele for ele in set1 if ele not in list_to_remove ]
print(set1)

[3, 4, 5, 8, 10, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 60, 62, 63, 64, 65, 66, 68, 72, 74, 75, 77, 78, 80, 82, 83, 84, 87, 90, 92, 94, 95, 96, 97, 98, 100]