## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [15]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [134]:

sample_list_1 = [-1] # tiene -1 para que no se repita el primer numero
for i in range(80):
    sample_list_1.append('')
    
for i in range(80):
    sample_list_1[i] = random.sample(range(100), k=1)[0]
    #print(sample_list_1) 
    #identificando la repetiión en el instante i
    while sample_list_1[i] in sample_list_1[:i]: 
        #print('repetido',sample_list_1[i])
        sample_list_1[i] = random.sample(range(100), k=1)[0]
        
sample_list_1.pop()        

print(sample_list_1)
print('size:',len(sample_list_1))

[2, 60, 13, 75, 79, 54, 22, 85, 41, 68, 72, 94, 8, 63, 52, 12, 21, 42, 39, 9, 24, 97, 49, 73, 43, 36, 6, 10, 45, 40, 91, 98, 92, 96, 76, 70, 20, 95, 38, 58, 48, 3, 0, 29, 89, 69, 99, 62, 66, 82, 4, 32, 88, 7, 84, 23, 59, 50, 19, 83, 15, 31, 51, 53, 74, 90, 28, 33, 1, 47, 81, 78, 18, 61, 87, 16, 86, 11, 27, 65]
size: 80
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 23, 24, 27, 28, 29, 31, 32, 33, 36, 38, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

80

In [ ]:
import random
sample_list = random.sample(range(100), k=80)

crear lista con numeros aleatorios
revisar el primer numero de la lista

Mientras ese numero esta repetido:
    cambiar el num repetido por un nuevo
    
(Si no está repetido, continuar con el siguiente)

imprimir la lista (solo para visualizar)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [136]:
# Your code here
set1=set(sample_list_1)
print(set1)
print('size:',len(set1))

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 23, 24, 27, 28, 29, 31, 32, 33, 36, 38, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}
size: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [139]:
# Your code here
sample_list_2 = [-1] # tiene -1 para que no se repita el primer numero
for i in range(80):
    sample_list_2.append('')
    
for i in range(80):
    sample_list_2[i] = random.sample(range(100), k=1)[0]        
sample_list_2.pop()        

print(sample_list_2)
print('size:',len(sample_list_2))

[22, 68, 17, 31, 63, 87, 79, 92, 11, 91, 33, 68, 14, 50, 28, 4, 86, 56, 34, 39, 89, 63, 22, 39, 34, 9, 42, 27, 5, 66, 26, 54, 57, 98, 4, 57, 86, 79, 11, 74, 84, 6, 47, 93, 42, 26, 69, 77, 21, 70, 84, 4, 35, 73, 62, 82, 88, 74, 76, 55, 28, 30, 73, 44, 67, 62, 11, 32, 72, 18, 2, 85, 62, 67, 31, 14, 55, 6, 46, 81]
size: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [140]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print('size:',len(set2))

{2, 4, 5, 6, 9, 11, 14, 17, 18, 21, 22, 26, 27, 28, 30, 31, 32, 33, 34, 35, 39, 42, 44, 46, 47, 50, 54, 55, 56, 57, 62, 63, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 79, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 98}
size: 55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [146]:
# Your code here
set3 = set1 - set2

print(set3)

{0, 1, 3, 7, 8, 10, 12, 13, 15, 16, 19, 20, 23, 24, 29, 36, 38, 40, 41, 43, 45, 48, 49, 51, 52, 53, 58, 59, 60, 61, 65, 75, 78, 83, 90, 94, 95, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [147]:
# Your code here
set4 = set2 - set1
print(set4)

{34, 35, 67, 5, 44, 77, 14, 46, 17, 55, 56, 57, 26, 93, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [150]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 4, 6, 9, 11, 18, 21, 22, 27, 28, 31, 32, 33, 39, 42, 47, 50, 54, 62, 63, 66, 68, 69, 70, 72, 73, 74, 76, 79, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [155]:
# Your code here
a=len(set1)
b=len(set2)
c=len(set3)
d=len(set4)
e=len(set5)

print('len(set1) =',a)
print('len(set2) =',b)
print('len(set3) =',c)
print('len(set4) =',d)
print('len(set5) =',e)

len(set1) = 80
len(set2) = 55
len(set3) = 40
len(set4) = 15
len(set5) = 40

70

#### Create an empty set called `set6`.

In [156]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [170]:
# Your code here
set6 = set()

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 23, 24, 27, 28, 29, 31, 32, 33, 36, 38, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [162]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [165]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [185]:
# Your code here
print(set3.union(set4,set5)==set1.update(set2))

False

#### Using the `pop` method, remove the first element from `set1`.

In [186]:
# Your code here
print('No existe tal cosa como el "primer" elemento de un set, los elemetos no tienen un orden')

No existe tal cosa como el "primer" elemento de un set, los elemetos no tienen un orden

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [196]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set7={}
set7 = set1 - set(list_to_remove)
print('from: ',set1)
print('size:',len(set1))
print('-------------')
print('remove:',set(list_to_remove))
print('size:',len(set(list_to_remove)))
print('-------------')
print(set7)
print('size:',len(set7))


#set.discard()

from:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
size: 95
-------------
remove: {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
size: 20
-------------
{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}
size: 76