## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [28]:
# Your code here
sample_list_1=random.sample(range(0,100),k=80)
print(sample_list_1)
len(sample_list_1)

[69, 1, 96, 6, 63, 35, 91, 19, 7, 95, 89, 76, 40, 18, 94, 0, 25, 68, 93, 45, 9, 46, 29, 4, 58, 21, 79, 66, 42, 53, 98, 59, 67, 52, 44, 75, 28, 99, 82, 74, 30, 87, 11, 23, 27, 83, 77, 84, 71, 56, 43, 73, 24, 3, 16, 60, 65, 39, 13, 20, 2, 85, 41, 78, 14, 31, 12, 5, 88, 90, 62, 55, 49, 70, 54, 36, 33, 10, 97, 34]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [83]:
# Your code here
set1=set(sample_list_1)
x=len(sample_list_1)
y=len(set1)
z=x-y
print(set1)
print("The lenght of the set is",y)
print(z)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}
The lenght of the set is 80
0

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
# Your code here
sample_list_2=[]
for i in sample_list_1:
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[73, 67, 66, 4, 97, 55, 9, 85, 90, 59, 37, 75, 39, 20, 74, 32, 64, 72, 79, 51, 68, 58, 54, 82, 92, 44, 48, 37, 9, 85, 53, 24, 32, 100, 20, 6, 65, 83, 5, 19, 18, 22, 31, 19, 72, 45, 29, 17, 77, 26, 36, 31, 47, 36, 45, 22, 75, 29, 63, 23, 48, 5, 37, 69, 66, 89, 35, 7, 41, 71, 41, 74, 11, 73, 97, 56, 20, 39, 83, 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here
set2=set(sample_list_2)
x=len(sample_list_2)
y=len(set2)
z=x-y
print("The lenght of the set is",y)
print(z)

The lenght of the set is 55
25

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [67]:
# Your code here
set3=set(set1.difference(set2))
setdif=set(set1-set2)
print(set3)

{0, 1, 2, 3, 10, 12, 13, 14, 16, 21, 25, 27, 28, 30, 33, 34, 40, 42, 43, 46, 49, 52, 60, 62, 70, 76, 78, 84, 87, 88, 91, 93, 94, 95, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
set4=set(set2.difference(set1))
setdif=set(set2-set1)
print(set4)

{32, 64, 100, 37, 72, 47, 48, 17, 51, 22, 26, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [44]:
# Your code here
set5=set1.intersection(set2)
print(set5)
len(set5)

{4, 5, 6, 7, 9, 11, 18, 19, 20, 23, 24, 29, 31, 35, 36, 39, 41, 44, 45, 53, 54, 55, 56, 58, 59, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 79, 82, 83, 85, 89, 90, 97}

43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [58]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print("set5+set3 es igual a set1, set5 es la interseccion entre set1 y set2; set3 es igual a set1-set2;")
print("por eso set5+set3=set1")
print("---------------------------------")
print("set2 es igual a set4 + set5; set5 es la interseccion entre set1 y set2; set4 es igual a set2-set1")

80
55
37
12
43
set5+set3 es igual a set1, set5 es la interseccion entre set1 y set2; set3 es igual a set1-set2;
por eso set5+set3=set1

#### Create an empty set called `set6`.

In [66]:
# Your code here
set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [70]:
# Your code here
print(set3)
print("----------------------------------------------------------")
set6=set3
set6.update(set5)
print (set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}
----------------------------------------------------------
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [71]:
# Your code here
if set1 == set6:
    print("set1 y set6 son iguales")
else:
    print("set1 y set6 son diferentes")

set1 y set6 son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [76]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [77]:
# Your code here
if set3.union(set4,set5) == set1.union(set2):
    print("los valores son iguales")
else:
    print("los valores difieren")

los valores son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [82]:
# Your code here
print(set1)
setpop=set1
x=setpop.pop()
print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx")
print(setpop)
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}
0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [84]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in range(len(list_to_remove)):
    set1.discard(list_to_remove[i])
print(set1)

{0, 2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 16, 18, 20, 23, 24, 25, 27, 28, 30, 33, 34, 35, 36, 40, 42, 43, 44, 45, 46, 52, 53, 54, 55, 56, 58, 60, 62, 63, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98}