## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

####  First, import the Python `random` libary

In [2]:
import random

#### 2.1 In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [88]:
sample_list_1= (random.sample(range(0,101),80))
print(sample_list_1) 
print("tamaño de la lista: ", len(sample_list_1) )

[27, 48, 92, 83, 77, 85, 50, 94, 78, 72, 37, 31, 24, 79, 20, 39, 51, 73, 6, 8, 93, 25, 30, 15, 70, 64, 32, 23, 26, 81, 42, 19, 91, 34, 96, 46, 14, 90, 56, 52, 95, 36, 45, 66, 58, 53, 74, 43, 80, 17, 22, 89, 7, 60, 65, 75, 86, 2, 100, 29, 33, 61, 55, 3, 54, 40, 84, 87, 10, 68, 82, 35, 88, 98, 16, 57, 59, 1, 49, 11]
tamaño de la lista:  80

#### 2.2 Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [89]:
set1= set(sample_list_1)
print (len(set1))

80

#### 2.3 Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [90]:
sample_list_2=[] 

for i in range (80):
    sample_list_2.append(random.choice(range(0,101)))
    
print (sample_list_2)

[45, 17, 22, 30, 80, 27, 29, 6, 22, 23, 50, 57, 91, 52, 35, 96, 64, 17, 85, 97, 34, 21, 10, 13, 16, 100, 90, 19, 37, 20, 11, 16, 49, 66, 24, 49, 73, 93, 5, 7, 7, 58, 74, 60, 88, 72, 97, 64, 64, 33, 56, 79, 56, 23, 9, 35, 71, 10, 5, 92, 90, 14, 16, 23, 87, 83, 100, 79, 25, 34, 72, 84, 18, 71, 65, 64, 21, 99, 87, 49]

#### 2.4 Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [91]:
set2=set(sample_list_2)
print(len (set2))

55

It´s not 80 anymore because some elements repeated, and because we are sorting, so those elements doesn't count.

#### 2.5  Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [92]:
set3= set1.difference(set2)
print (set3)

set1.difference(set2)==set1-set2

{1, 2, 3, 8, 15, 26, 31, 32, 36, 39, 40, 42, 43, 46, 48, 51, 53, 54, 55, 59, 61, 68, 70, 75, 77, 78, 81, 82, 86, 89, 94, 95, 98}

True

#### 2.6 Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [93]:
set4=set2.difference(set1)
print(set4)

{97, 99, 5, 71, 9, 13, 18, 21}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [94]:
set5= set1.intersection(set2)
print(set5)

{6, 7, 10, 11, 14, 16, 17, 19, 20, 22, 23, 24, 25, 27, 29, 30, 33, 34, 35, 37, 45, 49, 50, 52, 56, 57, 58, 60, 64, 65, 66, 72, 73, 74, 79, 80, 83, 84, 85, 87, 88, 90, 91, 92, 93, 96, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [95]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(set1==set3.union(set5))
print(set4==set2.difference(set5))
print(set5==set3.union(set4))

80
55
33
8
47
True
True
False

#### Create an empty set called `set6`.

In [96]:
set6=set([])
print (type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [97]:
set6.update(set3)
set6.update(set5)

print(set6)

{1, 2, 3, 6, 7, 8, 10, 11, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 64, 65, 66, 68, 70, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 100}

#### Check if `set1` and `set6` are equal.

In [98]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [99]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [100]:
aggregate_1= set3.union(set4,set5)
aggregate_2=set1.union(set2)

aggregate_1==aggregate_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [101]:
set1= list(set1)
removed= set1.pop(0)
print("se removio el elemento", removed, "y los siguientes 5 numeros son:", set1[:6])
set1=set(set1)
print("----")
print(set1)
print ("quedan",len(set1),"numeros")

se removio el elemento 1 y los siguientes 5 numeros son: [2, 3, 6, 7, 8, 10]
----
{2, 3, 6, 7, 8, 10, 11, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 64, 65, 66, 68, 70, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 100}
quedan 79 numeros

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [103]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print (set1)
print("quedaron", len(set1), "elementos")

{2, 3, 6, 7, 8, 10, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 45, 46, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 64, 65, 66, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98, 100}
quedaron 66 elementos