## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
sample_list_1=random.sample(range(0,100),80)
print(sample_list_1)
len(sample_list_1)

[29, 48, 31, 13, 32, 93, 61, 59, 25, 80, 77, 91, 14, 94, 12, 2, 90, 3, 49, 56, 89, 95, 97, 60, 92, 99, 34, 71, 18, 30, 45, 87, 8, 17, 63, 73, 38, 67, 1, 74, 28, 40, 66, 65, 98, 68, 96, 5, 33, 10, 22, 20, 6, 82, 72, 69, 23, 58, 46, 19, 54, 78, 53, 47, 36, 44, 0, 50, 62, 88, 52, 4, 79, 43, 11, 37, 35, 39, 26, 41]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 17, 18, 19, 20, 22, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 72, 73, 74, 77, 78, 79, 80, 82, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
#vfgfd
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)
print(len(sample_list_2))

[3, 77, 19, 28, 54, 23, 74, 44, 83, 84, 91, 80, 66, 91, 37, 12, 38, 72, 37, 58, 87, 69, 34, 88, 73, 25, 57, 1, 39, 81, 44, 37, 57, 48, 87, 34, 44, 71, 85, 86, 95, 82, 36, 11, 24, 52, 19, 85, 50, 58, 70, 63, 49, 82, 2, 80, 45, 0, 95, 4, 97, 11, 18, 75, 74, 63, 72, 87, 100, 80, 67, 18, 16, 82, 43, 79, 34, 15, 61, 26]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2=set(sample_list_2)

print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
# Your code here
set3=set1.difference(set2)
print(set3)

{5, 6, 8, 10, 13, 14, 17, 20, 22, 29, 30, 31, 32, 33, 35, 40, 41, 46, 47, 53, 56, 59, 60, 62, 65, 68, 78, 89, 90, 92, 93, 94, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here
set4=set2.difference(set1)
print(set4)

{100, 70, 75, 15, 16, 81, 83, 84, 85, 86, 24, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 1, 2, 3, 4, 11, 12, 18, 19, 23, 25, 26, 28, 34, 36, 37, 38, 39, 43, 44, 45, 48, 49, 50, 52, 54, 58, 61, 63, 66, 67, 69, 71, 72, 73, 74, 77, 79, 80, 82, 87, 88, 91, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here
if len(set1)+len(set2)>len(set3)+len(set4)+len(set5):
    print("es mayor la longitud de set 1 y 2")
else:
    print("Es mayor la len de 4,5 y 6")

es mayor la longitud de set 1 y 2

#### Create an empty set called `set6`.

In [15]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 17, 18, 19, 20, 22, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 72, 73, 74, 77, 78, 79, 80, 82, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here
if set1==set6:
    print("Both sets are equal")
else:
    print("They're note equal")

Both sets are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here
set2.issubset(set1)

False

In [19]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
# Your code here
print(set3.union(set4,set5))

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [21]:
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [98]:
if set3.union(set4,set5)==set1.union(set2):
    print("The values are equal")
else:
    print("The values are not equal")

The values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
# Your code here
set1.pop
print(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 17, 18, 19, 20, 22, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 72, 73, 74, 77, 78, 79, 80, 82, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [109]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
set1=set1-set_to_remove
print(set1)

{2, 3, 4, 5, 7, 8, 10, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 45, 47, 48, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98}