## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [54]:
# Your code here
sample_list_1 = random.sample(range(0, 100), k = 80)

print(sample_list_1)

[87, 88, 75, 30, 73, 50, 81, 70, 59, 38, 34, 76, 90, 41, 2, 71, 61, 0, 28, 99, 3, 44, 16, 69, 39, 64, 56, 1, 62, 12, 37, 53, 84, 89, 36, 57, 94, 14, 29, 55, 98, 51, 83, 23, 6, 18, 17, 5, 19, 35, 15, 93, 32, 79, 24, 10, 86, 52, 82, 47, 85, 78, 40, 80, 96, 21, 74, 31, 7, 20, 60, 58, 63, 68, 97, 95, 4, 48, 13, 9]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here

set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []

for i  in range(80):
    sample_list_2.append(random.randint(0, 100))
    
sample_list_2

len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2 = set(sample_list_2)

len(set2)

#No, porque no hay instrucción de obtener ints unicos, se repitieron algunos y fueron eiminados

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here


set3 = set1 - set2
len(set3)
print(set3)

{0, 2, 7, 9, 12, 17, 24, 25, 27, 28, 30, 34, 35, 37, 38, 42, 44, 45, 48, 51, 56, 58, 62, 67, 68, 72, 73, 74, 75, 80, 81, 82, 83, 88, 93, 94, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 =  set2 - set1
len(set4)
print(set4)

{64, 1, 90, 14, 79, 49, 20, 23, 26, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{3, 4, 5, 8, 10, 11, 15, 16, 18, 19, 21, 22, 29, 32, 36, 39, 40, 41, 43, 46, 47, 50, 53, 54, 57, 60, 61, 63, 66, 69, 70, 77, 78, 84, 85, 86, 87, 89, 91, 92, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [19]:
# Your code here. Ramiro empezó aquí
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

sets = [len(set1), len(set2), len(set3), len(set4), len(set5)]
print(sets)

for i in sets:
    if i < sets[0]:
        print(i, "es un subconjunto, por lo que es menor que set1")
    else:
        print(i, "es el mismo conjunto, por lo que es igual")

80
52
38
10
42
[80, 52, 38, 10, 42]
80 es el mismo conjunto, por lo que es igual
52 es un subconjunto, por lo que es menor que set1
38 es un subconjunto, por lo que es menor que set1
10 es un subconjunto, por lo que es menor que set1
42 es un subconjunto, por lo que es menor que set1

#### Create an empty set called `set6`.

In [28]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [33]:
# Your code here

set6.update(set3, set5)
print(set6)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 21, 22, 24, 25, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 56, 57, 58, 60, 61, 62, 63, 66, 67, 68, 69, 70, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [34]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
# Your code here
set_unido = set3.union(set4, set5)
print(set_unido)

set_unido2 = set3.union(set4, set5, set1, set2)
print(set_unido2)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [72]:
# Your code here     

#EN ESTE NO TENGO IDEA, PORQUE set.pop(-1)
set1_modificado = set1.discard(0)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [66]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i)

print(set1)

{2, 3, 4, 5, 7, 8, 10, 12, 15, 16, 17, 18, 22, 24, 25, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 56, 57, 58, 60, 62, 63, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 97, 98}