## Lista

In [ ]:
Â¿Que es una lista?
Una estructura de datos que puede contener datos en su interior y que es modificable.
Se pueden tener numeros,letras, listas, tuplas,listas. falso y verdader, sets e incluso diccionarios.
lista=[1,'a',['hello'],(20,21),falso, verdadero,{65,34,21},{'llave':valor}]

##Comprensiones de listas

In [1]:
pares=[]
for i in range(2,61,2):
    pares.append(i)
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [2]:
#Lo que me regresa
pares=[i for i in range(2,61,2)]
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [6]:
edos=['Nuevo Leon','CDMX','Hidalgo','Edomex','Chihuahua']
poblacion=[1_000,6_000,950,18_000,3_700]
for i in range(len(edos)):
#    print(i)
#    print(poblacion[i])
    if poblacion[i] >= 1_000:
        print(edos[i],str(poblacion[i])+'M')
    else:
        print(edos[i], str(poblacion[i])+'K')
    print()

Nuevo Leon 1000M

CDMX 6000M

Hidalgo 950K

Edomex 18000M

Chihuahua 3700M

In [9]:
edo_pob=[(edos[i],poblacion[i]) for i in range(len(edos))]
edo_pob

[('Nuevo Leon', 1000),
 ('CDMX', 6000),
 ('Hidalgo', 950),
 ('Edomex', 18000),
 ('Chihuahua', 3700)]

In [10]:
edos=['Nuevo Leon','CDMX','Hidalgo','Edomex','Chihuahua']
poblacion=[1_000,6_000,950,18_000,3_700]
for edo, pob in zip(edos,poblacion):
    if pob >=1_000:
        print(edo,str(pob)+'M')
    else:
        print(edo,str(pob)+'K')

Nuevo Leon 1000M
CDMX 6000M
Hidalgo 950K
Edomex 18000M
Chihuahua 3700M

In [11]:
edo_pob=[(edo,pob) for edo,pob in zip(edos,poblacion)]
edo_pob

[('Nuevo Leon', 1000),
 ('CDMX', 6000),
 ('Hidalgo', 950),
 ('Edomex', 18000),
 ('Chihuahua', 3700)]

In [13]:
edos=['Nuevo Leon','CDMX','Hidalgo','Edomex','Chihuahua']
poblacion=[1_000,6_000,950,18_000,3_700]

edo_pob=[edo+str(pob)+'M'for edo, pob in zip(edos,poblacion) if pob >=1_000]
edo_pob

['Nuevo Leon1000M', 'CDMX6000M', 'Edomex18000M', 'Chihuahua3700M']

In [20]:
edos=['Nuevo Leon','CDMX','Hidalgo','Edomex','Chihuahua']
poblacion=[1_000,6_000,950,18_000,3_700]

edo_pob=[(edo+' '+str(pob)+'M') if pob >= 1_000 else (edo+' '+str(pob)+'K')for edo, pob in zip(edos, poblacion)]
edo_pob

['Nuevo Leon 1000M',
 'CDMX 6000M',
 'Hidalgo 950K',
 'Edomex 18000M',
 'Chihuahua 3700M']

In [23]:
numeros=[100,200,150,125,300,450]

for num in numeros:
#    print(num)
    if num < 200:
        print(num)
    else:
        print('Se paso')

100
Se paso
150
125
Se paso
Se paso

In [24]:
def doscientos_para_arriba(numero):
    return numero if numero < 200 else 'Se paso'

numeros=[100,200,150,125,300,450]
numeros_filtrados=[doscientos_para_arriba(num) for num in numeros]
print(numeros_filtrados)

[100, 'Se paso', 150, 125, 'Se paso', 'Se paso']

In [26]:
for i in range(20):
    for j in range(5):
        print('Valor primer for_', i,'Valor segundo for:',j)

Valor primer for_ 0 Valor segundo for: 0
Valor primer for_ 0 Valor segundo for: 1
Valor primer for_ 0 Valor segundo for: 2
Valor primer for_ 0 Valor segundo for: 3
Valor primer for_ 0 Valor segundo for: 4
Valor primer for_ 1 Valor segundo for: 0
Valor primer for_ 1 Valor segundo for: 1
Valor primer for_ 1 Valor segundo for: 2
Valor primer for_ 1 Valor segundo for: 3
Valor primer for_ 1 Valor segundo for: 4
Valor primer for_ 2 Valor segundo for: 0
Valor primer for_ 2 Valor segundo for: 1
Valor primer for_ 2 Valor segundo for: 2
Valor primer for_ 2 Valor segundo for: 3
Valor primer for_ 2 Valor segundo for: 4
Valor primer for_ 3 Valor segundo for: 0
Valor primer for_ 3 Valor segundo for: 1
Valor primer for_ 3 Valor segundo for: 2
Valor primer for_ 3 Valor segundo for: 3
Valor primer for_ 3 Valor segundo for: 4
Valor primer for_ 4 Valor segundo for: 0
Valor primer for_ 4 Valor segundo for: 1
Valor primer for_ 4 Valor segundo for: 2
Valor primer for_ 4 Valor segundo for: 3
Valor primer for_ 4 Valor segundo for: 4
Valor primer for_ 5 Valor segundo for: 0
Valor primer for_ 5 Valor segundo for: 1
Valor primer for_ 5 Valor segundo for: 2
Valor primer for_ 5 Valor segundo for: 3
Valor primer for_ 5 Valor segundo for: 4
Valor primer for_ 6 Valor segundo for: 0
Valor primer for_ 6 Valor segundo for: 1
Valor primer for_ 6 Valor segundo for: 2
Valor primer for_ 6 Valor segundo for: 3
Valor primer for_ 6 Valor segundo for: 4
Valor primer for_ 7 Valor segundo for: 0
Valor primer for_ 7 Valor segundo for: 1
Valor primer for_ 7 Valor segundo for: 2
Valor primer for_ 7 Valor segundo for: 3
Valor primer for_ 7 Valor segundo for: 4
Valor primer for_ 8 Valor segundo for: 0
Valor primer for_ 8 Valor segundo for: 1
Valor primer for_ 8 Valor segundo for: 2
Valor primer for_ 8 Valor segundo for: 3
Valor primer for_ 8 Valor segundo for: 4
Valor primer for_ 9 Valor segundo for: 0
Valor primer for_ 9 Valor segundo for: 1
Valor primer for_ 9 Valor segundo for: 2
Valor primer for_ 9 Valor segundo for: 3
Valor primer for_ 9 Valor segundo for: 4
Valor primer for_ 10 Valor segundo for: 0
Valor primer for_ 10 Valor segundo for: 1
Valor primer for_ 10 Valor segundo for: 2
Valor primer for_ 10 Valor segundo for: 3
Valor primer for_ 10 Valor segundo for: 4
Valor primer for_ 11 Valor segundo for: 0
Valor primer for_ 11 Valor segundo for: 1
Valor primer for_ 11 Valor segundo for: 2
Valor primer for_ 11 Valor segundo for: 3
Valor primer for_ 11 Valor segundo for: 4
Valor primer for_ 12 Valor segundo for: 0
Valor primer for_ 12 Valor segundo for: 1
Valor primer for_ 12 Valor segundo for: 2
Valor primer for_ 12 Valor segundo for: 3
Valor primer for_ 12 Valor segundo for: 4
Valor primer for_ 13 Valor segundo for: 0
Valor primer for_ 13 Valor segundo for: 1
Valor primer for_ 13 Valor segundo for: 2
Valor primer for_ 13 Valor segundo for: 3
Valor primer for_ 13 Valor segundo for: 4
Valor primer for_ 14 Valor segundo for: 0
Valor primer for_ 14 Valor segundo for: 1
Valor primer for_ 14 Valor segundo for: 2
Valor primer for_ 14 Valor segundo for: 3
Valor primer for_ 14 Valor segundo for: 4
Valor primer for_ 15 Valor segundo for: 0
Valor primer for_ 15 Valor segundo for: 1
Valor primer for_ 15 Valor segundo for: 2
Valor primer for_ 15 Valor segundo for: 3
Valor primer for_ 15 Valor segundo for: 4
Valor primer for_ 16 Valor segundo for: 0
Valor primer for_ 16 Valor segundo for: 1
Valor primer for_ 16 Valor segundo for: 2
Valor primer for_ 16 Valor segundo for: 3
Valor primer for_ 16 Valor segundo for: 4
Valor primer for_ 17 Valor segundo for: 0
Valor primer for_ 17 Valor segundo for: 1
Valor primer for_ 17 Valor segundo for: 2
Valor primer for_ 17 Valor segundo for: 3
Valor primer for_ 17 Valor segundo for: 4
Valor primer for_ 18 Valor segundo for: 0
Valor primer for_ 18 Valor segundo for: 1
Valor primer for_ 18 Valor segundo for: 2
Valor primer for_ 18 Valor segundo for: 3
Valor primer for_ 18 Valor segundo for: 4
Valor primer for_ 19 Valor segundo for: 0
Valor primer for_ 19 Valor segundo for: 1
Valor primer for_ 19 Valor segundo for: 2
Valor primer for_ 19 Valor segundo for: 3
Valor primer for_ 19 Valor segundo for: 4

In [27]:
for_anidado=[(i,j) for i in range(20) for j in range(5)]
for_anidado

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (10, 0),
 (10, 1),
 (10, 2),
 (10, 3),
 (10, 4),
 (11, 0),
 (11, 1),
 (11, 2),
 (11, 3),
 (11, 4),
 (12, 0),
 (12, 1),
 (12, 2),
 (12, 3),
 (12, 4),
 (13, 0),
 (13, 1),
 (13, 2),
 (13, 3),
 (13, 4),
 (14, 0),
 (14, 1),
 (14, 2),
 (14, 3),
 (14, 4),
 (15, 0),
 (15, 1),
 (15, 2),
 (15, 3),
 (15, 4),
 (16, 0),
 (16, 1),
 (16, 2),
 (16, 3),
 (16, 4),
 (17, 0),
 (17, 1),
 (17, 2),
 (17, 3),
 (17, 4),
 (18, 0),
 (18, 1),
 (18, 2),
 (18, 3),
 (18, 4),
 (19, 0),
 (19, 1),
 (19, 2),
 (19, 3),
 (19, 4)]

In [29]:
matriz=[]

for i in range(7):
    print(i)
    vector=[]
    for j in range(5):
        vector.append(j)
        print(vector)
    matriz.append(vector)
    print(matriz)
matriz

0
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4]]
1
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
2
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
3
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
4
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
5
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
6
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [30]:
matriz=[[j for j in range(5)]for i in range(7)]
matriz

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [31]:
matriz_aplanada=[num for vector in matriz for num in vector]
print(matriz_aplanada)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]